[Unit]
Description=Check coastline valid and process for shapefiles  

[Timer]
# run every 5 minutes: 3, 8, 13, 18 etc - will not run if already running
OnCalendar=*:03/5
Unit=coastline-process.service

[Install]
WantedBy=timers.target
