[Unit]
Description=Forces render of lowzoom tiles, for cyclogf

[Service]
User=_renderd
Group=_renderd
ExecStart=render_list --all --force --map=cyclogf --min-zoom=0 --max-zoom=4

[Install]
WantedBy=default.target
