[Unit]
Description=Backup ogfdevapi database to .osm.pbf file

[Timer]
# run at 1 minute past midnight UTC, three times a week
OnCalendar=Tue,Thu,Sat 00:01:00
Unit=planet-backup.service

[Install]
WantedBy=timers.target
