[Unit]
Description=Refresh external data, for cyclogf
RefuseManualStart=no

[Timer]
# run at 5 and 35 minutes past each hour
OnCalendar=*-*-* *:5,35:00
Unit=refresh-external-data-cyclogf.service

[Install]
WantedBy=timers.target
