[Unit]
Description=OpenGeofiction tile dirtying service for %i

[Service]
User=_renderd
Group=_renderd
ExecStart=/opt/opengeofiction/ogf-server-scripts/bin/expireTiles.sh %i 5 19
