[Unit]
Description=OpenGeofiction API to tile replication for cyclogf
Wants=postgresql.service
After=postgresql.service

[Service]
User=ogf
Group=ogf
Type=exec
ExecStart=/opt/opengeofiction/OGF-terrain-tools/bin/tileReplicate.sh \
 cyclogf \
 https://data.opengeofiction.net/replication/minute \
 cyclogf \
 none \
 none \
 /var/www/html/tile/public_html/cyclogf-replication-in-state.txt \
 5 \
 19
Restart=on-failure

[Install]
WantedBy=multi-user.target
