[Unit]
Description=Refresh coastline & external data, for %i
RefuseManualStart=no

[Timer]
# run at 5 and 35 minutes past each hour
OnCalendar=*-*-* *:5,35:00
Unit=tile-refresh-external-data@%i.service

[Install]
WantedBy=timers.target
